@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&family=Quicksand:wght@300&family=Roboto:wght@300&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  font-family: 'Quicksand', sans-serif;
  font-family: 'Roboto', sans-serif;
}

.navbar {
  background: #949398ff;
  display: flex;
  padding: 2% 6%;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  width: 88%;
  margin: auto;
}
footer {
  background: #949398ff;
  display: flex;
  padding: 2% 6%;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  width: 87%;
  margin: auto;
  position: relative;
  color: white;
  margin-top: 180px;
}

.logo {
  font-size: 30px;
  color: white;
}

h1 a {
  text-decoration: none;
  font-size: 30px;
  padding: 2px;
  font-weight: 900;
  color: white;
}

nav ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
}

nav ul li a {
  text-decoration: none;
  font-size: 16px;
  padding: 2px;
  font-weight: 700;
  color: white;
}

h1:hover {
  background-color: #f4df4eff;
  transition: 0.5s;
  padding: 10px;
  border-radius: 50px;
}

li:hover {
  background-color: #f4df4eff;
  border-radius: 50px;
  transition: 1.5s;
}

img {
  max-width: 100%;
  display: block;
}

.card {
  display: flex;
  flex-direction: column;
  width: 20%;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
  border-radius: 1em;
  background: #ece9e6;
}

.cardBody {
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.cardBody h4 {
  font-size: 30px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 100%;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 20px;
  text-align: center;
  gap: 30px;
}
@media only screen and (max-width: 600px) {
  .card {
    width: 100%;
  }
  .navbar {
    display: flex;
    justify-content: center;
    min-height: 300px;
  }
  nav ul li {
    display: flex;
  }
  nav ul li:hover::after {
    width: 0%;
  }
  .formcontainer {
    width: 100%;
  }
}

@media only screen and (max-width: 900px) {
  .card {
    width: 100%;
  }
  .formcontainer {
    width: 100%;
  }
  .navbar {
    display: flex;
    justify-content: center;
    min-height: 300px;
  }
  nav ul li {
    display: flex;
  }
  .contactImg {
    display: flex;
    border: none;
  }
  .container {
    display: flex;
  }
  .items {
    width: 100%;
  }
}

.card:hover {
  box-shadow: 8px 8px 0px #949398ff, 16px 16px 0px #f4df4eff;
  transition: 0.5s;
}

button {
  background-color: #f4df4eff;
  border: none;
  border-radius: 100px;
  color: black;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
}

button:hover {
  background-color: rgb(214, 188, 18);
  transition: 0.5s;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modalContent {
  background-color: #fefefe;
  margin: 8% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: black;
  float: right;
  font-size: 18px;
  font-weight: bold;
}

.close:hover {
  cursor: pointer;
}

.price {
  color: black;
  font-weight: bold;
  font-size: 25px;
}

.formcontainer {
  display: flex;
  width: 30%;
  margin: auto;
  margin-top: 40px;
}

input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 100px;
  box-sizing: border-box;
}

select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
}

input:focus {
  background-color: rgb(232, 248, 253);
}

.contact {
  display: flex;
}
.left {
  display: inline-block;
  width: 50%;
  justify-content: center;
}
.right {
  display: inline-block;
  justify-content: center;
  width: 50%;
  margin-top: 60px;
}
.contactImg {
  width: 90%;
  height: 600px;
  border-right: 6px solid white;
  border-bottom: 6px solid white;
  border-radius: 100px;
  padding: 15px;
  box-sizing: border-box;
}

.items {
  width: 15%;
}

.time {
  width: 50%;
  margin: auto;
  margin-top: 10px;
  font-size: 25px;
  border-top: 3px solid #f4df4eff;
  border-bottom: 3px solid #f4df4eff;

  font-weight: bolder;
  border-radius: 4px;
}

.desc {
  border-bottom: 4px solid rgb(226, 214, 214);
  border-radius: 10px;
  background: #fff2ec;
  color: black;
  font-weight: 700;
}

.card1 {
  display: flex;
  flex-direction: column;
  width: 20%;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
  border-radius: 1em;
  background: #ece9e6;
}

th {
  background-color: rgb(243, 30, 30);
  color: white;
}

th,
td {
  width: 25%;
  text-align: center;
  border: 1px solid black;
  padding: 5px;
  border-bottom: 1px dashed rgb(252, 125, 125);
}

.card1:hover {
  box-shadow: 8px 8px 0px #949398ff, 16px 16px 0px rgb(243, 30, 30);
  transition: 0.5s;
}
